<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
</head>
<body>
	<div class="control-group">
	<label class="control-label">出品</label>
	<div class="controls">
		<input type="number" class="span2" placeholder="Member ID" name="member" required>
		<input type="number" class="span2" placeholder="Item ID" name="item" required>
	</div>
	<div class="controls">
	  	<input id="dp1" type="text" class="span2" placeholder="Start Date" name="start" required>
		<input id="dp2" type="text" class="span2" placeholder="End Date" name="end" required>
	    <button class="btn btn-primary" type="submit">Exhibit</button>
	</div>
	</div>
</body>
</html>